
	div.practice-filter {
		margin-top: 12px;
		border: solid 1px black;
		width: 770px;
	}
	
	
	
	select#practice-modalities {
		width: 215px;
	}
	select#need-report {
		width: 75px;
	}
	
	.ui-selectmenu-text {
		font-size: 0.8em;
	}
	.ui-selectmenu-button{
		top: 8px;
		height: 22px;
	}
	
	
	input.name-filter {
		width: 290px;
	}
	
	input.capability-filter {
		width: 110px;
	}
	
	input.region-filter {
		width: 30px;
	}
	
	
	
	
	
	div.practice-table {
		padding: 10px;
	}
	
	table#practice-result {
		font-size: 9pt					!important;
		color: #444						!important;
		width: 99%						!important;
		border-right: solid 1px black	!important;
		border-left: solid 1px black	!important;
	}
	div#practice-result_wrapper thead {
		background: #ddd			!important;
		color: #444					!important;
		
	}
	div#practice-result_wrapper th{
		text-align: center					!important;
		border-top: solid 1.5px black		!important;
	}
	div#practice-result_wrapper tr.even:not(.selected){
		background: #fefefe 		!important; 
	}
	div#practice-result_wrapper tr.odd:not(.selected){
		background: #ededed			!important;
	}
	div#practice-result_wrapper .dataTables_paginate{
		font-size: 0.8em 			!important;
		float: right				!important;
		margin-top: 12px			!important;
	}
	div#practice-result_wrapper .dataTables_length {
		margin-bottom: 18px			!important;
		color: black				!important;
	}
	div#practice-result_wrapper .dataTables_length select {
		border-radius: 5px			!important;
	}
	div#practice-result_wrapper .dataTables_info {
		font-size: 0.85em 			!important;
		margin-top: 12px			!important;
		color: black				!important;
	}
	div#practice-result_wrapper div.p-cant{
		float: left					!important;
		color: black				!important;
		margin-top: 10px			!important;
	}
	div#practice-result_wrapper a.paginate_button.current{
		border-radius: 15px			!important;
	}
	
	div#practice-result_wrapper a.paginate_button:hover{
		border-radius: 15px			!important;
	}
	
	
	
	label{display:inline-block;}
	
	
	
	
	button#new-practice {
		width: 95px;
	}
	
	
	
	div.actions-parent {
		display: none;
	}
	
	div.practice-actions {
		border: dotted 1px black;
		padding: 20px 0px;
	}
	
	form.practicas select{border-radius:3px;height:23px;background:#dcdcdc;}
	form.practicas{font-size:9pt!important;}
	