	/**
	 *	Estilos personalizados de la página
	 */
	
	
	img{
		position: absolute;
		height: 220px;
		width: 40%;
		margin: 0 28.5%;
		cursor: pointer;
	}
	.divPassword{
		position: absolute;
		top: 250px;
		width: 50%;
		margin: 0 23.5%;
		height: 50%;
		padding-top: 10px;
	}
	.textBox{
		text-align: center;
		background-color: #fff;
		border: double #888 0.25em;
		border-radius: 5px;
	}
	label{
		display: inline-block;
		width: 150px;
		font-family: sans-serif, Arial;
		font-size: 10pt;
	}
	.ui-widget {	/* Diseño botón jQueryUI */
		
		font-size: 0.8em;
	}