/* Study Notes */
.study-notes-layout-north {
	text-align: left;
	border: none;
	display:none;
}

.study-notes-layout-center {
	text-align: left;
	border: none;
	overflow: hidden;	
}

.study-notes-layout-south {
	text-align: center;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-top: 1px;
	margin: 0 auto;
}

.study-notes-action-button {
	font-size: 0.75em;
	width: 15em;
	height: 2.5em;
	margin-left: 5em;
} 

#study-notes-body-editor {
	margin: 0;
	width: 100%;
	height: 100%;
	border: none;
} 
