<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dd-viewer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Modalities</display-name>
    <servlet-name>Modalities</servlet-name>
    <servlet-class>app.servlets.Modalities</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modalities</servlet-name>
    <url-pattern>/modalities/all</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Study</display-name>
    <servlet-name>Study</servlet-name>
    <servlet-class>app.servlets.Study</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Study</servlet-name>
    <url-pattern>/studies/find</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudySeriesList</display-name>
    <servlet-name>StudySeriesList</servlet-name>
    <servlet-class>app.servlets.StudySeriesList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudySeriesList</servlet-name>
    <url-pattern>/study/seriesList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PixelSpacing</display-name>
    <servlet-name>PixelSpacing</servlet-name>
    <servlet-class>app.servlets.PixelSpacing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PixelSpacing</servlet-name>
    <url-pattern>/image/pixelSpacing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Visualizador</display-name>
    <servlet-name>Visualizador</servlet-name>
    <servlet-class>app.servlets.Visualizador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Visualizador</servlet-name>
    <url-pattern>/Visualizador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingleStudy</display-name>
    <servlet-name>SingleStudy</servlet-name>
    <servlet-class>app.servlets.SingleStudy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleStudy</servlet-name>
    <url-pattern>/study</url-pattern>
  </servlet-mapping>
</web-app>